<div class="row" id="commentsScroll">
  <div class="col-8 offset-1" style="padding-left: 0px" id="for-responsiveness-singleDeal">
    <div class="row" style="min-height: 350px;border-radius: 30px;background-color: white;padding-top: 1%;margin-bottom: 50px;margin-top: 10px;align-items: center;justify-content: center">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-auto mx-auto" style="text-align: center;align-self: center;margin-top: 20px">
                <div class="row">
                  <div class="col">
                    <img src="{{deal?.image_url}}" style="max-width: 200px;min-width: 200px;">
                  </div>
                </div>
                <div class="row" style="padding: 10px 0 10px 0;">
                  <div class="col">
                    <div class="row nowrap">
                      <div class="col">
                        <div class="mx-auto cursor-pointer" id="forLottie" style="width: 50px;height: 50px;" (click)="favDeal()" (mouseenter)="playSegments(0,50)" (mouseleave)="playSegments(50,120)">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" style="padding: 0px 30px 0px 30px">
                <div class="row title">
                  <div class="col nopadding dealTitleAndUserRow">
                    <span  style="font-family: 'Mark Pro-Heavy';font-size: 20px;color:#234491;white-space: nowrap">{{deal?.title.slice(0,200).concat('..')}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row" style="align-items: center;flex-wrap: nowrap">

                      <div class="col dealTitleAndUserRow" style="padding-left: 0px">
                        <img src="{{deal?.user.avatar_url}}" style="max-width: 30px;min-width: 30px;border-radius: 50%">

                        <span style="padding: 10px;font-family: 'Mark Pro-Heavy';font-size: 14px;color:#234491;white-space: nowrap;">&nbsp;{{deal?.user.name.slice(0,15).concat('..')}}&nbsp;</span>

                        <span style="font-family: 'Mark Pro-Book';font-size: 14px;color:#234491;text-overflow: ellipsis;white-space: nowrap">| {{deal?.view_count}} görüntülenme |</span>

                        <span style="font-family: 'Mark Pro-Book';font-size: 14px;color:#234491;white-space: nowrap">&nbsp;{{deal?.created_at.substr(0,10)}} |</span>

                        <span style="font-family: 'Mark Pro-Italic';font-size: 14px;color:#234491;">&nbsp;{{deal?.vendor.website}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-top: 1%;flex-wrap: nowrap">
                  <div class="col-auto">
                    <div class="row" style="align-items: center;flex-wrap: nowrap">
                      <div class="col" style="padding-right: 0px">
                        <img src="../../assets/svgs/price_tag.svg" style="min-width: 50px;max-width: 50px">
                      </div>
                      <div class="col-9" style="padding-left: 0px;">
                        <span style="font-family: 'Mark Pro-Heavy';font-size: 25px;color: #234491;padding: 10px">{{whatIsPrice(deal?.price)}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row" style="align-items: center;flex-wrap: nowrap">
                      <div class="col-auto mx-auto">
                        <div class="row" style="align-items: center">
                          <div class="col nopadding" style="min-width: 50px;max-width: 50px">
                            <div style="max-height: 50px" id="lottieLikeButton" (click)="playAnim(0,'like','comment')"></div>
                          </div>
                          <div class="col-auto nopadding">
                            <span style="font-family: 'Mark Pro-Heavy';font-size: 16px;color: #234491;padding: 0px 10px 0px 2px">{{deal?.votes_sum}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto mx-auto">
                        <div class="row" style="align-items: center">
                          <div class="col nopadding" style="min-width: 50px;max-width: 50px">
                            <div style="max-height: 50px" id="lottieCommentButton" (mouseenter)="playAnim(0,'comment','comment')" (mouseleave)="stopAnim(0)"></div>
                          </div>
                          <div class="col-auto nopadding">
                            <span style="font-family: 'Mark Pro-Heavy';font-size: 16px;color: #234491;padding: 0px 10px 0px 2px">{{deal?.comments_count}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2"></div>
                  <div class="col-auto">
                    <div class="row" style="align-items: center;flex-wrap: nowrap">
                      <div class="col-auto mx-auto nopadding cursor-pointer" (click)="shareDeal(deal,'fb')">
                        <img  src="../../assets/imgs/FB-Icon@2x.png" style="max-width: 30px;min-width: 30px;">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=benimfirsatim.com&picture=benimfirsatim.com{{deal?.image_url}}&description={{deal?.title}}" target="_blank">
                        </a>
                      </div>
                      <div class="col-auto mx-auto nopadding cursor-pointer" (click)="shareDeal(deal,'tw')">
                        <img src="../../assets/imgs/TW-Icon@2x.png" style="max-width: 30px;min-width: 30px;">
                      </div>
                      <div class="col cursor-pointer">
                        <img (click)="goToLink(deal?.link)" src="../../assets/imgs/firsata_git_button@2x.png" style="max-width: 160px;min-width: 160px">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                  <span style="font-family: 'Mark Pro-Medium';font-size: 14px;color:#234491;line-height: 1.2;">{{deal?.details.slice(0,304).concat('..')}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding:20px;margin-top: 20px;">
          <div class="col">
            <div class="row" *ngIf="!dealReported">
              <div class="col cursor-pointer" style="text-align: center;padding-bottom: 1%">
                <img src="assets/svgs/problemlibirfirsatmi.svg" style="max-width: 400px;min-width: 400px">
              </div>
            </div>
            <div class="row nowrap" style="margin-bottom: 30px">
              <div @commentState class="col text-center align-self-center" *ngIf="dealReported">
                <span style="font-family: 'Mark Pro-Book';font-size: 15px;color:#234491">BİZİ BİLGİLENDİRDİĞİN İÇİN TEŞEKKÜRLER :)</span>
              </div>
              <div class="col"  *ngIf="!dealReported">
                <div class="row nowrap" style="padding-top: 10px;">
                  <div class="col-auto mx-auto">
                    <div class="row nowrap align-items-center">
                      <div class="col-auto" style="padding-right: 0px">
                        <img src="assets/svgs/suresi_dolmus_icon.svg" class="imgClass">
                      </div>
                      <div class="col cursor-pointer" style="padding-left: 2px"(click)="deadOnDeadLine()">
                        <span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491;white-space: nowrap">SÜRESİ DOLMUŞ</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto mx-auto">
                    <div class="row nowrap align-items-center">
                      <div class="col-auto" style="padding-right: 0px">
                        <img src="assets/svgs/tukenmis_icon.svg" class="imgClass">
                      </div>
                      <div class="col  cursor-pointer" style="padding-left: 2px" (click)="dealOutOfStock()">
                        <span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491">TÜKENMİŞ</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto mx-auto">
                    <div class="row nowrap align-items-center">
                      <div class="col-auto" style="padding-right: 0px">
                        <img src="assets/svgs/sikayet_et_icon.svg" class="imgClass">
                      </div>
                      <div class="col  cursor-pointer" style="padding-left: 2px" (click)="onReportDeal()">
                        <span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491;white-space: nowrap">ŞİKAYET ET</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" style="background-color: #f2f2f2;border-radius: 20px;max-height: 100px;align-self: flex-start">
            <div class="row nowrap">
              <div class="col">
                <textarea [(ngModel)]="newlyAddedComment" rows="2" type="text" placeholder="Düşüncelerin neler?" class="writeComment" style="outline: none;border: none;background-color: #f2f2f2;min-width: 200px;resize: none;"></textarea>
              </div>
              <div class="col-auto" (click)="sendComment()" style="text-align: right;padding:0px">
                  <img style="max-width: 60px;min-width: 60px"  src="assets/svgs/write_comment_icon.svg">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="newlyAddedComments?.length > 0" style="    padding: 20px;">
          <div @commentState *ngFor="let comment of newlyAddedComments" class="row" style="background-color: #f2f2f2;border-radius:30px;margin-top: 2%">
            <div class="col">
              <div class="row nowrap">
                <div class="col">
                  <div class="row" style="align-items: center;border-radius: 30px;background-color: #e6e6e6">
                    <div class="col-auto nopadding">
                      <img src="{{comment?.user.avatar_url}}" style="border-radius: 100%;max-height: 50px;min-height: 50px">
                    </div>
                    <div class="col-auto">
                      <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;color:#234491">{{comment?.user.name}}</span>
                    </div>
                  </div>
                  <div class="row" style="padding: 1%;padding-left: 4%">
                    <div class="col">
                      <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{comment?.text}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let comment of comments ;let i = index" [ngClass]="{'lastItemMargin':isItLastItem(comment)}" style=";padding-left: 20px;padding-right: 20px">
          <div *ngIf="i < commentIndex">
            <div class="row" style="background-color: #f2f2f2;border-radius:30px;margin-top: 2%">
              <div class="col">
                <div class="row nowrap">
                  <div class="col">
                    <div class="row" style="align-items: center;border-radius: 30px;background-color: #e6e6e6">
                      <div class="col-auto nopadding">
                        <img src="{{comment?.user.avatar_url}}" style="border-radius: 100%;max-width: 50px;min-width: 50px">
                      </div>
                      <div class="col-auto">
                        <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;color:#234491">{{comment?.user.name}}</span>
                      </div>
                      <div class="col" style="padding-left: 0px">
                        <span style="font-family: 'Mark Pro-Light';font-size: 15px;color:#234491">{{comment?.timeCalculation}}</span>
                      </div>
                      <div class="col-auto" >
                        <div class="row">
                          <div class="col-auto" style="align-self: center;">
                            <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;color:#234491">{{comment?.comment_votes_count}}</span>
                          </div>
                          <div class="col-auto cursor-pointer" style="padding: 0px" >
                            <div class="row">
                              <div class="col" style="padding-right: 0px">
                                <div  class="lottieThumbUpButton" style="min-width: 50px;max-width: 50px;max-height: 50px" (click)="playAnim(i,'thumbsUp',comment)"></div>
                              </div>
                              <div class="col" style="padding-left: 0px">
                                <img src="assets/svgs/comments_reply_icon.svg" (click)="writeToComment(comment)" style="min-width: 50px;max-width: 50px">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="padding: 1%;padding-left: 4%">
                      <div class="col">
                        <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{comment.text}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div @commentState *ngFor="let subComment of comment?.newlyAddedSubComments;let j = index" class="row" style="background-color: #f2f2f2;border-radius:30px;margin-top: 2%;margin-left: 50px">
              <div class="col">
                <div class="row" style="align-items: center;border-radius: 30px;background-color: #e6e6e6">
                  <div class="col-auto nopadding">
                    <img src="{{subComment?.user.avatar_url}}" style="border-radius: 100%;max-height: 50px;min-height: 50px">
                  </div>
                  <div class="col-auto">
                    <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;color:#234491">{{subComment?.user.name}}</span>
                  </div>
                  <div class="col" style="padding-left: 0px">
                    <span style="font-family: 'Mark Pro-Light';font-size: 15px;color:#234491">{{subComment?.timeCalculation}}</span>
                  </div>
                </div>
                <div class="row" style="padding: 1%;padding-left: 4%">
                  <div class="col">
                    <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{subComment?.text}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isHaveSubComment(comment)" style="margin-top: 3%">
              <div *ngFor="let subComment of comment?.comments;let j = index">
                <div *ngIf="j < comment?.showUntil" class="row" style="background-color: #f2f2f2;border-radius:30px;margin-top: 2%;margin-left: 50px">
                  <div  class="col">
                    <div class="row nowrap">
                      <div class="col">
                        <div class="row" style="align-items: center;border-radius: 30px;background-color: #e6e6e6">
                          <div class="col-auto nopadding">
                            <img src="{{subComment?.user.avatar_url}}" style="border-radius: 100%;max-height: 50px;min-height: 50px">
                          </div>
                          <div class="col-auto">
                            <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;color:#234491">{{subComment?.user.name}}</span>
                          </div>
                          <div class="col" style="padding-left: 0px">
                            <span style="font-family: 'Mark Pro-Light';font-size: 15px;color:#234491">{{subComment?.timeCalculation}}</span>
                          </div>
                        </div>
                        <div class="row" style="padding: 1%;padding-left: 4%">
                          <div class="col">
                            <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{subComment?.text}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="j === comment?.comments.length-1" style="margin-top: 2%">
                  <div class="col text-center cursor-pointer" (click)="addSubcommentIndex(comment,j)">
                    <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{comment?.dahaFazlaGetirText}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="scrollToMe" @commentState *ngIf="comment?.writeCommentToComment"  class="col" style="background-color: #f2f2f2;border-radius: 30px;height: 50px;margin-top: 2%">
              <div class="row nowrap">
                <div class="col">
                  <input [(ngModel)]="newlyAddedSubComment" type="text" placeholder="Düşüncelerin neler?" class="writeComment" style="outline: none;border: none;background-color: #f2f2f2;">
                </div>
                <div class="col cursor-pointer" style="text-align: right;padding: 0px" (click)="writeCommentSubcomment(comment)">
                  <img style="height: 50px" src="assets/svgs/write_comment_box_icon.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 30px;margin-bottom: 30px">
          <div class="col text-center cursor-pointer">
            <span id="loadMoreText" (click)="loadMoreComment()" style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">DAHA FAZLA GETİR</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2" style="position: fixed;right: 7%;padding-right: 0px" *ngIf="showPointTable">
    <app-point-table></app-point-table>
  </div>
  <div class="col-1 nopadding"></div>

</div>

