<div class="row" id="commentsScroll">
  <div class="col-8 offset-1">
    <div class="row" style="min-height: 350px;border-radius: 30px;background-color: white;padding-top: 1%;padding-bottom: 1%;padding:1%;align-items: center;justify-content: center">
      <div class="col">
        <div class="row" style="padding-top: 30px">
          <div class="col">
            <div class="row">
              <div class="col-3" style="text-align: center">
                <img src="http://benimfirsatim.cleverapps.io{{deal.image_url}}" style="max-width: 180px;max-height: 180px">
              </div>
              <div class="col-9">
                <div class="row title">
                  <span style="font-family: 'Mark Pro-Heavy';font-size: 16px;color:#234491">{{deal.title.slice(0,200).concat('..')}}</span>
                </div>
                <div class="row" style="align-items: center;flex-wrap: nowrap;padding-top: 1%">
                  <div class="col-2">
                    <div class="row" style="align-items: center;flex-wrap: nowrap;">
                      <div class="col-3 nopadding">
                        <img src="../../assets/svgs/price_tag.svg" style="width: 150%">
                      </div>
                      <div class="col nopadding" style="margin-left: 15%">
                        <span style="font-family: 'Mark Pro-Heavy';font-size: 20px;color: #234491;">{{whatIsPrice(deal)}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="row" style="flex-wrap: nowrap;align-items: flex-end">
                      <div class="col-12 nopadding">
                        <div id="lottieLikeButton" (click)="playAnim(0,'like','comment')"></div>
                        <span class="likeComment-span">{{deal.votes_sum}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="row" style="flex-wrap: nowrap;align-items: flex-end">
                      <div class="col-12 nopadding">
                        <div id="lottieCommentButton" (mouseenter)="playAnim(0,'comment','comment')" (mouseleave)="stopAnim(0)"></div>
                        <span class="likeComment-span">{{deal.comments_count}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col offset-1" style="text-overflow: ellipsis;overflow: hidden;">
                    <span style="font-family: 'Mark Pro-Italic';font-size: 16px;color:#234491;">{{deal.vendor.website}}</span>
                  </div>
                </div>
                <div class="row" style="align-items: flex-end">
                  <div class="col-8">
                    <div class="row" style="align-items: center;flex-wrap: nowrap">
                      <div class="col-1" style="padding: 0px">
                        <img src="{{deal.user.avatar_url}}" style="width: 80%;border-radius: 50%">
                      </div>
                      <div class="col-2" style="padding-left: 0px">
                        <span style="font-family: 'Mark Pro-Heavy';font-size: 14px;color:#234491;white-space: nowrap">{{deal.user.name}}</span>
                      </div>
                      <div class="col-4" style="text-overflow: ellipsis;overflow: hidden;">
                        <span style="font-family: 'Mark Pro-Book';font-size: 14px;color:#234491;text-overflow: ellipsis;overflow: hidden;white-space: nowrap">{{deal.view_count}} görüntülenme</span>
                      </div>
                      <div class="col">
                        <span style="font-family: 'Mark Pro-Book';font-size: 14px;color:#234491">{{deal.created_at.substr(0,10)}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row" style="align-items: center">
                      <div class="col cursor-pointer" style="padding: 1px">
                        <img src="../../assets/imgs/FB-Icon@2x.png" style="width: 100%">
                      </div>
                      <div class="col cursor-pointer" style="padding: 1px">
                        <img src="../../assets/imgs/TW-Icon@2x.png" style="width: 100%">
                      </div>
                      <div class="col-9 cursor-pointer">
                        <img (click)="goToLink(deal.link)" src="../../assets/imgs/firsata_git_button@2x.png" style="width: 100%">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 1%">
          <div class="col-3">
            <div class="row nowrap">
              <div class="col">
                <div class="mx-auto cursor-pointer" id="forLottie" style="width: 60px;height: 60px;" (click)="favDeal()" (mouseenter)="playSegments(0,50)" (mouseleave)="playSegments(50,120)">
                </div>
              </div>
            </div>
          </div>
          <div class="col-9">
            <span style="font-family: 'Mark Pro-Medium';font-size: 14px;color:#234491">{{deal.details}}</span>
          </div>
        </div>
        <div class="row" style="padding-top:2%;padding-bottom: 2%">
          <div class="col">
            <div class="row" *ngIf="!dealReported">
              <div class="col cursor-pointer" style="text-align: right;padding-bottom: 1%">
                <img src="assets/svgs/problemli_line.svg" style="width: 60%">
              </div>
            </div>
            <div class="row nowrap">
              <!--<div class="col">-->
              <!--<div class="row nowrap">-->
              <!--<div class="col">-->
              <!--<img src="assets/svgs/bildirim_al_icon.svg" class="imgClass">-->
              <!--</div>-->
              <!--<div class="col">-->
              <!--<span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491;white-space: nowrap">BİLDİRİM AL</span>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <div @commentState class="col text-center align-self-center" *ngIf="dealReported">
                <span style="font-family: 'Mark Pro-Book';font-size: 15px;color:#234491">BİZİ BİLGİLENDİRDİĞİN İÇİN TEŞEKKÜRLER :)</span>
              </div>
              <div class="col"  *ngIf="!dealReported">
                <div class="row nowrap" style="padding-top: 10px;">
                  <div class="col">
                    <div class="row nowrap align-items-center">
                      <div class="col-2">
                        <img src="assets/svgs/suresi_dolmus_icon.svg" class="imgClass">
                      </div>
                      <div class="col cursor-pointer" (click)="deadOnDeadLine()">
                        <span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491;white-space: nowrap">SÜRESİ DOLMUŞ</span>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row nowrap align-items-center">
                      <div class="col-2">
                        <img src="assets/svgs/tukenmis_icon.svg" class="imgClass">
                      </div>
                      <div class="col  cursor-pointer" (click)="dealOutOfStock()">
                        <span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491">TÜKENMİŞ</span>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row nowrap align-items-center">
                      <div class="col-2">
                        <img src="assets/svgs/sikayet_et_icon.svg" class="imgClass">
                      </div>
                      <div class="col  cursor-pointer" (click)="onReportDeal()">
                        <span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491;white-space: nowrap">ŞİKAYET ET</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" style="background-color: #f2f2f2;border-radius: 20px;max-height: 100px;align-self: center">
            <div class="row nowrap">
              <div class="col">
                <textarea [(ngModel)]="newlyAddedComment" rows="2" type="text" placeholder="Düşüncelerin neler?" class="writeComment" style="outline: none;border: none;background-color: #f2f2f2;margin-top: 10px;"></textarea>
              </div>
              <div class="col-2" (click)="sendComment()" style="text-align: right;padding: 0px">
                  <img style="max-height: 100px;align-self: auto;padding: 0px;"  src="assets/svgs/write_comment_icon.svg">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="newlyAddedComments.length > 0">
          <div @commentState *ngFor="let comment of newlyAddedComments" class="row" style="background-color: #f2f2f2;border-radius:30px;margin-top: 2%">
            <div class="col">
              <div class="row nowrap">
                <div class="col">
                  <div class="row" style="align-items: center;border-radius: 30px;background-color: #e6e6e6">
                    <div class="col-1 nopadding">
                      <img src="{{comment.user.avatar_url}}" style="border-radius: 100%;max-height: 50px;min-height: 50px">
                    </div>
                    <div class="col">
                      <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;margin-left: -10%;color:#234491">{{comment.user.name}}</span>
                    </div>
                    <div class="col" style="text-align: right">
                      <span style="font-family: 'Mark Pro-Italic';font-size: 15px;color:#234491">{{comment.timeCalculation}}</span>
                    </div>
                  </div>
                  <div class="row" style="padding: 1%;padding-left: 4%">
                    <div class="col">
                      <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{comment.text}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-1 offset-10 cursor-pointer" (click)="writeToComment(comment)">
                      <img  style="height: 50px;margin-bottom: -20%;width: inherit" src="assets/svgs/comments_reply_icon.svg">
                    </div>
                    <div class="col-1 nopadding">
                      <img style="height: 50px;margin-bottom: -20%;width: inherit" src="assets/svgs/comments_thumb_up_icon.svg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let comment of comments ;let i = index" [ngClass]="{'lastItemMargin':isItLastItem(comment)}">
          <div *ngIf="i < commentIndex">
            <div class="row" style="background-color: #f2f2f2;border-radius:30px;margin-top: 2%">
              <div class="col">
                <div class="row nowrap">
                  <div class="col">
                    <div class="row" style="align-items: center;border-radius: 30px;background-color: #e6e6e6">
                      <div class="col-1 nopadding">
                        <img src="{{comment.user.avatar_url}}" style="border-radius: 100%;max-height: 50px;min-height: 50px">
                      </div>
                      <div class="col">
                        <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;margin-left: -10%;color:#234491">{{comment.user.name}}</span>
                      </div>
                      <div class="col" style="text-align: right">
                        <span style="font-family: 'Mark Pro-Italic';font-size: 15px;color:#234491">{{comment.timeCalculation}}</span>
                      </div>
                    </div>
                    <div class="row" style="padding: 1%;padding-left: 4%">
                      <div class="col">
                        <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{comment.text}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col" style="margin-bottom: -2%">
                        <div class="row">
                          <div class="col-1 offset-10 cursor-pointer" style="padding: 0px" (click)="writeToComment(comment)">
                            <img  style="    max-height: 50px;max-width: 50px;margin-left: 50%;" src="assets/svgs/comments_reply_icon.svg">
                          </div>
                          <div class="col-1 cursor-pointer" style="padding: 0px">
                            <div class="lottieThumbUpButton" style="max-width: 80px;max-height: 50px" (click)="playAnim(i,'thumbsUp',comment)">
                              <span class="likeComment-span">{{comment.comment_votes_count}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div @commentState *ngFor="let subComment of comment.newlyAddedSubComments;let j = index" class="row" style="background-color: #f2f2f2;border-radius:30px;margin-top: 2%;margin-left: 50px">
              <div class="col">
                <div class="row" style="align-items: center;border-radius: 30px;background-color: #e6e6e6">
                  <div class="col-1 nopadding">
                    <img src="{{subComment.user.avatar_url}}" style="border-radius: 100%;max-height: 50px;min-height: 50px">
                  </div>
                  <div class="col">
                    <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;margin-left: -10%;color:#234491">{{subComment.user.name}}</span>
                  </div>
                  <div class="col" style="text-align: right">
                    <span style="font-family: 'Mark Pro-Italic';font-size: 15px;color:#234491">{{subComment.timeCalculation}}</span>
                  </div>
                </div>
                <div class="row" style="padding: 1%;padding-left: 4%">
                  <div class="col">
                    <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{subComment.text}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isHaveSubComment(comment)" style="margin-top: 3%">
              <div *ngFor="let subComment of comment.comments;let j = index">
                <div *ngIf="j < comment.showUntil" class="row" style="background-color: #f2f2f2;border-radius:30px;margin-top: 2%;margin-left: 50px">
                  <div  class="col">
                    <div class="row nowrap">
                      <div class="col">
                        <div class="row" style="align-items: center;border-radius: 30px;background-color: #e6e6e6">
                          <div class="col-1 nopadding">
                            <img src="{{subComment.user.avatar_url}}" style="border-radius: 100%;max-height: 50px;min-height: 50px">
                          </div>
                          <div class="col">
                            <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;margin-left: -10%;color:#234491">{{subComment.user.name}}</span>
                          </div>
                          <div class="col" style="text-align: right">
                            <span style="font-family: 'Mark Pro-Italic';font-size: 15px;color:#234491">{{subComment.timeCalculation}}</span>
                          </div>
                        </div>
                        <div class="row" style="padding: 1%;padding-left: 4%">
                          <div class="col">
                            <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{subComment.text}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="j === comment.comments.length-1" style="margin-top: 2%">
                  <div class="col text-center cursor-pointer" (click)="addSubcommentIndex(comment,j)">
                    <span style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">{{comment.dahaFazlaGetirText}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="scrollToMe" @commentState *ngIf="comment.writeCommentToComment"  class="col" style="background-color: #f2f2f2;border-radius: 30px;height: 50px;margin-top: 2%">
              <div class="row nowrap">
                <div class="col">
                  <input [(ngModel)]="newlyAddedSubComment" type="text" placeholder="Düşüncelerin neler?" class="writeComment" style="outline: none;border: none;background-color: #f2f2f2;">
                </div>
                <div class="col cursor-pointer" style="text-align: right;padding: 0px" (click)="writeCommentSubcomment(comment)">
                  <img style="height: 50px" src="assets/svgs/write_comment_box_icon.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 30px;margin-bottom: 30px">
          <div class="col text-center cursor-pointer">
            <span id="loadMoreText" (click)="loadMoreComment()" style="font-family: 'Mark Pro-Medium';font-size: 13px;color:#234491">DAHA FAZLA GETİR</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <app-point-table></app-point-table>
  </div>
</div>

