/*div{
  border:1px solid black;
}*/
/*.col{
  border:1px solid blue;
}
.row{
  border:1px solid red;
}*/
.nopadding {
  padding: 0px;
}

.writeComment::-webkit-input-placeholder {
  font-family: "Mark Pro-Italic";
  color:#234491;
}

.writeComment:-ms-input-placeholder {
  font-family: "Mark Pro-Italic";
  color:#234491;
}

.writeComment:-moz-placeholder {
  font-family: "Mark Pro-Italic";
  color:#234491;
}

.writeComment::-moz-placeholder {
  font-family: "Mark Pro-Italic";
  color:#234491;
}
.writeComment{
  font-family: 'Mark Pro-Medium';
  font-size: 13px;
  color:#234491;
  width: inherit;
}
.nowrap{
  flex-wrap: nowrap;
}
.imgClass{
 width: 30px;
}
.lastItemMargin{
  margin-bottom: 5%;
}
.likeComment-span{
  font-family: 'Mark Pro-Heavy';
  font-size: 10px;
  color: #234491;
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translate(140%, -60%);
}

