<div class="col">
  <div class="row">
    <div class="col" style="padding-right: 0;padding-left: 0px">
      <img src="../../assets/imgs/puan_tablosu_box@2x.png" style="max-width: inherit;">
      <span style="font-family: 'Mark Pro-Book';font-size: 12px;color:#F7E60f;white-space: nowrap;position: absolute;top: 10px;left: 30px">AYIN KULLANICILARI</span>
      <img class="fullwidth" src="../../assets/imgs/freebies_icon@2x.png">
    </div>
  </div>
  <div class="row">
    <div class="col" style="background-color: white;border-color: #234491;border-radius: 0px 0px 29px 29px;">
      <div class="row" >
        <div class="col" style="padding-bottom: 15px">
          <div class="row nowrap" *ngFor="let item of popularCategories;let i=index" style="margin-top: 5%">
            <div class="col-auto">
              <img src="http://via.placeholder.com/100x100" style="border-radius: 15px;max-width: 50px;min-width: 50px">
            </div>
            <div class="col text-center">
              <span style="font-family: 'Mark Pro-Light';font-size: 13px;color:#234491">KATEGORİ</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
