<div class="col" style="background: url('../../assets/imgs/puan_tablosu_box@2x.png');background-repeat: no-repeat;position:fixed;width: 20%;background-size: contain;margin-top: 1%">
  <div class="row">
    <div class="col-5" style="align-self: center">
      <img class="fullwidth" src="../../assets/imgs/puan_tablosu_header_18pt_mark_bold@2x.png" >
    </div>
    <div class="col-2 offset-5" style="margin-top: 2%;margin-bottom: 2%">
      <img class="fullwidth" src="../../assets/imgs/puan_tablosu_icon@2x.png">
    </div>
  </div>
  <div class="row" style="background-color: white;border-color: #234491;border-radius: 0px 0px 29px 29px;">
    <div class="col">
      <div class="row" style="margin-top: 5%">
        <div class="col-2">
          <span style="font-family: 'Mark Pro-Heavy';font-size: 18px;color:#234491">1</span>
        </div>
        <div class="col text-center">
          <span style="font-family: 'Mark Pro-Heavy';font-size: 18px;color:#234491">kullanıcı 1</span>
        </div>
        <div class="col-2 text-center" style="align-self: center">
          <img  src="../../assets/imgs/dropdown_blue@2x.png" style="width: 100%">
        </div>
      </div>
      <div class="row" style="border-radius:20px;height: 20px"></div>
    </div>
  </div>
</div>
