
//div{
//  border:1px solid black;
//}
.background{
//    height: -moz-available;          /* WebKit-based browsers will ignore this. */
//  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  background-image: url('../../assets/imgs/background_pattern@2x.png');
  background-size: cover;
  background-repeat: inherit;
  background-attachment: fixed;
}
