<div class="loadingDiv"
     [@loadingBlackDiv]
     (click)="exitFromSignup()"
     *ngIf="blackDiv">
</div>
<div class="tutorial"
  *ngIf="tutorial"
   id="tutorialAnim"
  [@tutorialPopup]>
</div>


<div *ngIf="feedbackDivOpen" class="feedbackDiv">
  <form #f="ngForm">
    <div class="row">
      <div class="col-12" style="margin-top: 20px;text-align: center;margin-bottom: 17px;">
        <span style="font-family: 'Mark Pro-Black';color:#234491;font-size: 15px"> FİKRİNİ SÖYLE!</span>
      </div>
      <div class="col" style="text-align: center">
        <img src="../../assets/imgs/seperator_line@2x.png" style="vertical-align: text-top;width: 500px">
      </div>
    </div>
    <div class="row" style="margin-top: -8px">
      <div class="col-2 offset-1 align-self-center">
        <span style="font-family: 'Mark Pro-Black';color:#234491;font-size: 12px"> KONU</span>
      </div>
      <div class="col">
        <!--<mat-form-field>-->
          <!--<mat-select placeholder="Lütfen Seçiniz" [(value)]="tur">-->
            <!--<mat-option>Lütfen Seçiniz</mat-option>-->
            <!--<mat-option *ngFor="let tur of turs" [value]="tur.name">{{tur.name}}</mat-option>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->
        <select class="comboBox" ngModel name="combo" >
          <option [value]="1" selected="selected">Şikayet</option>
          <option [value]="2">Öneri</option>
          <option [value]="3">İstek</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;margin-top: 5px">
        <img src="../../assets/imgs/seperator_line@2x.png" style="vertical-align: text-top;width: 500px">
      </div>
    </div>
    <div class="row">
      <div class="col offset-1" style="text-indent: -12px">
        <textarea
          autofocus
          class="urlInput cursor-pointer" style="min-height: 300px;padding:0px;resize:none;overflow: hidden;"
          ngModel name="detail"
          ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        <img src="../../assets/imgs/seperator_line@2x.png" style="vertical-align: text-top;width: 500px">
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center" (click) = onFeedbackSubmit(f)>
        <img src="../../assets/svgs/send_icon.svg" style="height: 50px;width: 50px">
      </div>
    </div>
  </form>
</div>
<div class="signup-signin"
     *ngIf="showSingUpSignInPopUp"
     [@singinSignupPopup]
      (@singinSignupPopup.done)="onTutorialAnimFinished()">
  <div class="row" style="margin-top: 7%">
    <div class="col kayit-success" [@kayitSuccess] *ngIf="kayitBasariliText">
        <span style="font-family: 'Mark Pro-Heavy';font-size: 40px;color:#234491">KAYIT,<br>BAŞARILI!</span>
     </div>
    <div class="col kayit-success"[@kayitSuccess] *ngIf="girisBasariliText">
      <span style="font-family: 'Mark Pro-Heavy';font-size: 40px;color:#234491">GİRİŞ,<br>BAŞARILI!</span>
    </div>
    <div class="col text-center">
      <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;color:#234491">BENİM FIRSATIM UYGULAMASINI İNDİR,<br>CEPTEDE FIRSATLARI KOVALA!</span>
    </div>
  </div>
  <div class="row" style="margin-top: 2%">
    <div class="col-5 offset-1  cursor-pointer">
      <img src="../../assets/imgs/available_on_appstore@2x.png" style="width: inherit">
    </div>
    <div class="col-5 cursor-pointer">
      <img src="../../assets/imgs/available_on_google@2x.png" style="width: inherit">
    </div>
  </div>
  <form  #f="ngForm">
    <div *ngIf="showForm" [@tutorialPopup]>
      <div class="row" style="margin-top: 5%">
        <div class="col-10 offset-1 cursor-pointer">
          <input required ngModel name="email" class="urlInput" type="email" placeholder="E-MAIL">
        </div>
      </div>
      <div class="row" style="margin-top: 2%">
        <div class="col-10 offset-1 cursor-pointer">
          <input required ngModel name="password" [minlength]="6" class="urlInput" type="password" placeholder="PAROLA">
        </div>
      </div>
      <div *ngIf="kayitOlBool" [@loadingBlackDiv] class="row" style="margin-top: 2%">
        <div class="col-10 offset-1 cursor-pointer">
          <input ngModel name="password2" [minlength]="6" class="urlInput" type="password" placeholder="TEKRAR">
        </div>
      </div>
      <div class="row" *ngIf="beniHatirlaBool" [@loadingBlackDiv]>
        <div class="col-4 offset-1" style="margin-right: -10px">
          <div class="row" style="flex-wrap: nowrap;align-items: center">
            <div class="col" style="padding: 0px;text-align: right">
              <mat-radio-button color = "primary" class="example-margin" value="start"></mat-radio-button>

            </div>
            <div class="col" style="padding: 0px">
              <span style="font-family: 'Mark Pro-Book';font-size: 10px;white-space: nowrap;color:#234491">BENİ HATIRLA</span>

            </div>
          </div>
        </div>
        <div class="row" style="align-items: center">
          <div class="col offset-1 cursor-pointer" style="text-align: center;white-space: nowrap">
            <span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491;margin-left: 30px">PAROLANI MI UNUTTUN?</span>
          </div>
        </div>
      </div>
    </div>
    <img  style="visibility: visible !important;" class="giris-yap cursor-pointer" [@girisYap]="girisYapState" (@girisYap.done)="makeLoginButtonClickable($event)" (click)="changeState('giris');onGirisButtonClick(f)" src="../../assets/svgs/giris_yap_button.svg">
    <div style="visibility: visible !important;" class="kayit-ol cursor-pointer" [@kayitOl]="kayitOlState" (@kayitOl.done)="makeSignUpButtonClickable($event)" (click)="changeState('kayit');onKayitButtonClick(f)" id="kayitOlAnim"></div>

    <span style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491;position: fixed;left: 50%;bottom: 12%;transform: translate(-50%,-50%);white-space: nowrap">YADA SOSYAL MEDYA HESAPLARINDAN BİRİNİ SEÇ</span>
    <img (click)="fbLogin()" class="cursor-pointer" src="../../assets/svgs/FB-Icon.svg" style="margin-top: 1%;height: 10%;position: fixed;left: 40%;transform: translate(-50%,-50%);bottom: -3%;">
    <img (click)="onGooglePlusLogin()" class="cursor-pointer" src="../../assets/svgs/G+Icon.svg" style="margin-top: 1%;height: 10%;position: fixed;left: 60%; transform: translate(-50%,-50%);bottom: -3%;">
  </form>
</div>

<div class="row background">
  <div class="col" style="margin-top: 100px;">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="blurheader"></div>
<app-footer></app-footer>
