
.headerBackground{
  background-image: url('../../assets/svgs/nav_bar.svg');
  background-size: cover;
  opacity: 0.99;
  box-shadow: 0px -3px 40px 5px rgba(58, 58, 58, 0.65);
  position: relative;
  z-index: 2;
}
.search{
  font-family: "Mark Pro-Heavy";
  color: #234491;
  font-size: 80px;
  z-index: 10001;
  outline: none;
  border: none;
  width: 100%;
  background: none;
  text-align: center;
}
.searchSpan{
  font-family: 'Mark Pro-Bold';
  font-size: 15px;
  color: #234491;
  margin-left: 15px;
}
.searchDiv {
  background-color: #F7E60f;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  margin-top: -3px;
  opacity: .75;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.searchBackground{
  background-image: url("../../assets/svgs/search_box.svg");
  background-repeat: no-repeat;
}
/*div{
  border:1px solid black;
}*/
.categories {
  background-image: url('../../assets/imgs/kategoriler_bg@2x.png');
  border-radius: 0px 0px 60px 60px;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}
.myProfile{
  background-image: url('../../assets/imgs/profilim_bg@2x.png');
  border-radius: 0px 0px 40px 40px;
  position: absolute;
  z-index: 1;
  width: 80%;
  padding-top: 5%;
}

.search-div-animation{
  border-radius: 0px 0px 40px 40px;
  position: absolute;
  background-color: white;
  width: 320px;
  z-index: 1;
  width: 80%;
  padding-top: 5%;
}

.row.myProfileItemRow{
  margin: 6%;
  align-items: right;
}
.myProfileItemCol{
  text-align: right;
}
.menu_categories{
  width: 80%;
}
.click:active {
  transform: scale(.7);
  cursor: pointer;
}
.scale{
  transform: scale(0.8);
}
.click{
  transform: scale(0.6);
}

.font-class{
  font-family: 'Mark Pro-Bold';
  font-size: 17px;
  color:#f7e60f;
  white-space: nowrap
}
.font-size{
  font-size: 12px !important;
}
.logo-for-margin{
  margin-left: 30px;
}



