<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-1 offset-1">
      <img style="width: 120%" src="../../assets/imgs/benim_firsatim_logo@2x.png">
    </div>
    <div class="col-1 offset-1">
      <img (mouseenter)="lol()" style="width: 100%" src="../../assets/imgs/one_cikanlar_icon@2x.png">
    </div>
    <div class="col-1">
      <img style="width: 100%" src="../../assets/imgs/yukselenler_icon@2x.png">
    </div>
    <div class="col-1 text-center">
      <img style="width: 60%" src="../../assets/imgs/yeniler_icon@2x.png">
    </div>
    <div class="col-1">
      <img style="width: 100%" src="../../assets/imgs/kategoriler_icon_18pt_mark_bold@2x.png">
    </div>
  </div>
</div>
