
.headerBackground{
  background-image: url('../../assets/imgs/menu_bar.png');
  background-size: cover;
  box-shadow: 0px -3px 40px 5px rgba(58, 58, 58, 0.65);
  position: relative;
  z-index: 2;
}
.col.search{
}
.search{
  outline: none;
  color: #F7E60f;
  background: none;
  text-indent: 6px;
  border:2px solid;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin-left: 10%;
}

div{
border:1px solid black;
}


.categories {
  background-image: url('../../assets/imgs/kategoriler_bg@2x.png');
  border-radius: 0px 0px 70px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}

.myProfile{
  background-image: url('../../assets/imgs/profilim_bg@2x.png');
  border-radius: 0px 0px 40px 40px;
  position: absolute;
  z-index: 1;
  width: 80%;
}
.row.myProfileItemRow{
  margin: 6%;
  align-items: right;
}
.myProfileItemCol{
  text-align: right;
}
.menu_categories{
  width: 80%;
}
.one_cikanlar_animated{
  image:url("../../assets/gifs/one_cikanlar.gif")
}
.menu_categories_animated{
  width: 30%;
}
svg{
  width: 30%;
}
