<div style="position:fixed;z-index: 1">
  <div class="row align-items-center footerBackground">
    <div class="col">
      <div class="row" style="padding: 1%">
        <div class="col-1" style="align-self: center;" >
          <img src="../../assets/imgs/slogan@2x.png" style="width: 200%;margin-left: 20%;">
        </div>
        <div class="col-2 offset-4">
          <div class="row" style="flex-wrap:nowrap;align-items: center">
            <div class="col" style="padding: 0%">
              <span style="font-family: 'Mark Pro-Light';font-size: 10px;color: #F7E60f">3...</span>
            </div>
            <div class="col">
              <img src="../../assets/imgs/previous_page.png" style="width: 100%">
            </div>
            <div class="col">
              <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;color: #F7E60f">1932.SAYFA</span>
            </div>
            <div class="col">
              <img src="../../assets/imgs/next_page@2x.png" style="width: 100%">
            </div>
            <div class="col" style="padding: 0%">
              <span style="font-family: 'Mark Pro-Light';font-size: 10px;color: #F7E60f">3000</span>
            </div>
          </div>
        </div>
        <div class="col-1 offset-2" style="align-self: center">
          <img src="../../assets/imgs/en_ust_button@2x.png" style="width: 100%">
        </div>
        <div class="col-1" style="align-self: center;">
          <img src="../../assets/imgs/alt_menu_button_18pt_mark_heavy@2x.png" style="width: 90%;margin-top: -4px;">
        </div>
      </div>
    </div>
  </div>
</div>
