.footerBackground{
  background-image: url('../../assets/svgs/footer_bg.svg');
  background-size: cover;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 105%;
  text-align: center;
  flex-wrap: nowrap;
}
/*
div{
  border:1px solid black;
}
*/
