<div style="position:fixed;z-index: 1">
  <div class="row align-items-center footerBackground">
    <div class="col">
      <div class="row" style="padding: 1%">
        <div class="col-2" style="align-self: center;" >
          <span style="font-family: 'Mark Pro-Italic';font-size: 20px;color:#F7E60f">TAM BAĞIMSIZ FIRSAT SİTESİ!</span>
        </div>
        <div class="col-2 offset-4">
          <div class="row" style="flex-wrap:nowrap;align-items: center">
            <div class="col" style="padding: 0%">
              <span style="font-family: 'Mark Pro-Light';font-size: 10px;color: #F7E60f">3...</span>
            </div>
            <div class="col">
              <img src="../../assets/imgs/previous_page.png" style="width: 100%">
            </div>
            <div class="col">
              <span style="font-family: 'Mark Pro-Heavy';font-size: 15px;color: #F7E60f">1932.SAYFA</span>
            </div>
            <div class="col">
              <img src="../../assets/imgs/next_page@2x.png" style="width: 100%">
            </div>
            <div class="col" style="padding: 0%">
              <span style="font-family: 'Mark Pro-Light';font-size: 10px;color: #F7E60f">3000</span>
            </div>
          </div>
        </div>
        <div class="col offset-1" style="align-self: center">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.3 23.1"><title>Path 3</title><g id="Path_36" data-name="Path 36"><polygon points="0 11.5 11.5 0 14.3 2.8 5.6 11.5 14.3 20.3 11.5 23.1 0 11.5" style="fill:#f7e60f;transform: rotate(180deg)"/></g></svg>
        </div>
        <div class="col" style="align-self: center;">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.3 23.1"><title>Path 3</title><g id="Path_36" data-name="Path 36"><polygon points="0 11.5 11.5 0 14.3 2.8 5.6 11.5 14.3 20.3 11.5 23.1 0 11.5" style="fill:#f7e60f"/></g></svg>
        </div>
      </div>
    </div>
  </div>
</div>
