html{
  background-image: url('../../assets/imgs/background_pattern@2x.png');
  background-size: cover;
}
@font-face {
  font-family: "Mark Pro";
  src: url("../../assets/fonts/MarkPro.otf") format("otf")
}
@font-face {
  font-family: "Mark Pro-Black";
  src: url("../../assets/fonts/MarkPro-Black.otf") format("otf")
}
@font-face {
  font-family: "Mark Pro-Bold";
  src: url("../../assets/fonts/MarkPro-Bold.otf") format("otf")
}
@font-face {
  font-family: "Mark Pro-Book";
  src: url("../../assets/fonts/MarkPro-Book.otf") format("otf")
}
@font-face {
  font-family: "Mark Pro-ExtraLight";
  src: url("../../assets/fonts/MarkPro-ExtraLight.otf") format("otf")
}
@font-face {
  font-family: "Mark Pro-Hairline";
  src: url("../../assets/fonts/MarkPro-Hairline.otf") format("otf")
}
@font-face {
  font-family: "Mark Pro-Heavy";
  src: url("../../assets/fonts/MarkPro-Heavy.otf") format("otf")
}
@font-face {
  font-family: "Mark Pro-Medium";
  src: url("../../assets/fonts/MarkPro-Medium.otf") format("otf")
}
@font-face {
  font-family: "Mark Pro-Light";
  src: url("../../assets/fonts/MarkPro-Light.otf") format("otf")
}

