image: node:8
stages:
  - deploy

deploy:
  stage: deploy
  script:
    - npm install --unsafe-perm -g @angular/cli 
    - npm install --unsafe-perm
    - pwd
    - ls
    - echo 'BUILD STARTED'
    - ng build --prod
    - echo 'BUILD FINISHED'
    - ls
    - apt update -y
    - apt upgrade -y
    - apt install lftp
    - echo "set ssl:verify-certificate no" >> ~/.lftp/rc
    - lftp -e "mirror -R dist /" -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOST 
  except:
    - tags

