image: node:6
stages:
  - deploy

deploy:
  stage: deploy
  script:
    - npm install -g angular-cli 
    - npm install
    - echo 'BUILD STARTED'
    - ng build --prod
    - echo 'BUILD FINISHED'
    - ls
    - apt update -y
    - apt upgrade -y
    - apt install lftp
    - lftp -e "mirror -R dist /" -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOST 
  except:
    - tags

