image: node:8
stages:
  - deploy

deploy:
  stage: deploy
  script:
    - apt-get update && apt-get install -y git-ftp
    - npm install --unsafe-perm -g @angular/cli@1.7.0
    - npm install --unsafe-perm
    - pwd
    - ls
    - echo 'BUILD STARTED'
    - ng build --prod
    - echo 'BUILD FINISHED'
    - git config git-ftp.url $FTP_HOST
    - git config git-ftp.password $FTP_PASSWORD
    - git config git-ftp.user $FTP_USER
    - git ftp init
    #- git ftp push  -m "Add new content"
  except:
    - tags