image: node:8
stages:
  - deploy

deploy:
  stage: deploy
  script:
    - apt-get update && apt-get install -y lftp
    - npm install --unsafe-perm -g @angular/cli@1.7.0
    - npm install --unsafe-perm
    - ng build --prod
    - lftp -u $FTP_CONN_STRING -e "mirror -R -p dist/ / ; quit"
  except:
    - tags