<div class="row" style="margin-top: 2%" >
  <div class="col-10 offset-1" style="background-color: white;border-radius: 30px;padding: 10px">
    <div class="row align-items-center">
      <div class="col-2">
        <img style="height: 20px" src="../../assets/svgs/genel_bakis/settings_icon.svg">
        <span  (click)="activeAnim('ayarlar')" class="tab cursor-pointer" [@tabActivation]="ayarlar.active">AYARLAR</span>
      </div>
      <div class="col-2">
        <img style="height: 20px" src="../../assets/svgs/genel_bakis/genel_bakis_icon.svg">
        <span (click)="activeAnim('genelBakis')" class="tab cursor-pointer" [@tabActivation]="genelBakis.active" >GENEL BAKIŞ</span>
      </div>
      <div class="col-2">
        <img style="height: 20px" src="../../assets/svgs/genel_bakis/firsatlarim_icon.svg">
        <span (click)="activeAnim('firsatlar')" class="tab cursor-pointer" [@tabActivation]="firsatlar.active">FIRSATLAR</span>
      </div>
      <div class="col-2">
        <img  style="height: 20px" src="../../assets/svgs/genel_bakis/yorumlar_icon.svg">
        <span (click)="activeAnim('yorumlar')" class="tab cursor-pointer" [@tabActivation]="yorumlar.active">YORUMLAR</span>
      </div>
      <div class="col-2">
        <img style="height: 20px" src="../../assets/svgs/genel_bakis/kaydedilenler_icon.svg">
        <span (click)="activeAnim('kaydedilenler')" class="tab cursor-pointer" [@tabActivation]="kaydedilenler.active">KAYDEDİLENLER</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2 offset-1" style="height: 100px">

  </div>
  <div class="col">
    <app-deal id="firsatlarim" *ngIf="firsatlar.active == 'active'"></app-deal>
  </div>
</div>
