<div class="row">
  <div class="col-10 offset-1" style="background-color: white;border-radius: 30px;padding: 10px">
    <div class="row align-items-center">
      <div class="col-2 mx-auto" style="white-space: nowrap">
        <div class="row" style="flex-wrap: nowrap">
          <div class="col-auto" style="margin-left: auto">
            <img style="height: 20px" src="../../assets/svgs/genel_bakis/settings_icon.svg">
          </div>
          <div class="col-auto" style="margin-right: auto;padding-left: 0px">
            <span  (click)="activeAnim('ayarlar')" class="tab cursor-pointer" [@tabActivation]="ayarlar.active">AYARLAR</span>
          </div>
        </div>
      </div>
      <div class="col-2 mx-auto" style="white-space: nowrap">
        <div class="row" style="flex-wrap: nowrap">
          <div class="col-auto" style="margin-left: auto">
            <img style="height: 20px" src="../../assets/svgs/genel_bakis/genel_bakis_icon.svg">
          </div>
          <div class="col-auto" style="margin-right: auto;padding-left: 0px">
            <span (click)="activeAnim('genelBakis')" class="tab cursor-pointer" [@tabActivation]="genelBakis.active" >GENEL BAKIŞ</span>
          </div>
        </div>
      </div>
      <div class="col-2 mx-auto">
        <div class="row" style="flex-wrap: nowrap">
          <div class="col-auto" style="margin-left: auto">
            <img style="height: 20px" src="../../assets/svgs/genel_bakis/firsatlarim-icon.svg">
          </div>
          <div class="col-auto" style="margin-right: auto;padding-left: 0px">
            <span (click)="activeAnim('firsatlar')" class="tab cursor-pointer" [@tabActivation]="firsatlar.active">FIRSATLAR</span>
          </div>
        </div>
      </div>
      <!--<div class="col-2">-->
        <!--<img  style="height: 20px" src="../../assets/svgs/genel_bakis/yorumlar_icon.svg">-->
        <!--<span (click)="activeAnim('yorumlar')" class="tab cursor-pointer" [@tabActivation]="yorumlar.active">YORUMLAR</span>-->
      <!--</div>-->
      <div class="col-2 mx-auto">
        <div class="row" style="flex-wrap: nowrap">
          <div class="col-auto" style="margin-left: auto">
            <img style="height: 20px" src="../../assets/svgs/genel_bakis/kaydedilenler_icon.svg">
          </div>
          <div class="col-auto" style="margin-right: auto;padding-left: 0px">
            <span (click)="activeAnim('kaydedilenler')" class="tab cursor-pointer" [@tabActivation]="kaydedilenler.active">KAYDEDİLENLER</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
<div class="row" style="margin-top: 1%;margin-bottom: 10%">
  <div class="col-10 offset-1">
    <div class="row" style="max-height: 600px">
      <div class="col-3 col-kucuk-responsive margin-right-20px" style="min-width: 200px;background-size: cover;border-radius: 30px; max-height: 600px;background-image: url('../../assets/svgs/genel_bakis/user_panel_bg.svg');background-repeat: no-repeat">
        <div class="row">
          <div class="col-auto mx-auto">
            <div class="row" style="margin-top: 20px;margin-bottom: 10px">
              <div class="col-auto mx-auto">
                <div class="row">
                  <div class="col-auto mx-auto">
                    <span class="point-table">PUAN TABLOSUNDA</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-auto mx-auto point-table-point">
                    <span style="font-family: 'Mark Pro-Black;font-size: 13px;color: #F7E60f'">99999<span class="point-table">.SIRADA</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-7 mx-auto">
                <img style="border-radius: 120px;height: inherit;width: inherit;border: 3px solid #F7E60f" src="{{currentUser.avatar_url}}">
              </div>
              <!--<div class="col-3 offset-2" style="position: absolute;align-self: flex-end">
                <img src="../../assets/svgs/genel_bakis/change_photo_icon.svg">
              </div>-->
            </div>
            <div class="row">
              <div class="col-auto mx-auto" style="padding-top: 15px">
                <div class="row" style="margin-bottom: -5px">
                  <div class="col-auto mx-auto">
                    <span style="white-space: nowrap" class="user-name">{{currentUser.name}}</span>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                  <div class="col-auto mx-auto">
                    <span class="user-email">{{currentUser.email}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mx-auto"  style="align-self: center">
            <div class="row">
              <div class="col">
                <div class="user-info" *ngIf="showUpdateProfile" style="  padding: 10px 15px 10px 15px;">
                  <form #f="ngForm">
                    <div class="row">
                      <div class="col">
                        <span #passwrod class="tabLow">YENİ PAROLA</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input ngModel name="password" type="password" class="form-element-text-input">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="tabLow">YENİ PAROLA (TEKRAR)</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input ngModel name="rePassword" type="password" class="form-element-text-input">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="tabLow">KULLANICI ADI</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input ngModel name="username" class="form-element-text-input">
                      </div>
                    </div>
                    <div class="row" style="text-align: center;padding-bottom: 10px">
                      <div class="col-4"></div>
                      <div class="col-4" (click)="onProfileUpdateSubmit(f)" style="align-self: center;padding: 0px">
                        <img  src="../../assets/svgs/genel_bakis/guncelle_button.svg">
                      </div>
                      <!--<div class="col-2" style="margin-left: auto !important;padding: 0 10px 0 0">
                        <img (click)="onDeleteProfile()" src="../../assets/svgs/genel_bakis/hesabi_sil_icon.svg">
                      </div>
                      <div class="col-6" style="" *ngIf="showAreYouSure">
                        <img src="../../assets/svgs/genel_bakis/deletion-areyousure-box.svg">
                      </div>-->
                    </div>
                  </form>
                </div>
                <div class="user-info" *ngIf="showUserInfoSection" style="    padding: 20px 15px 0 15px;">
                  <div class="row">
                    <div class="col">
                      <div class="row" style="flex-wrap: nowrap">
                        <div class="col-auto" style="padding-right: 6px">
                          <img style="height: 20px;    min-width: 25px;" src="../../assets/svgs/firsatlarim_icon_new.svg">
                        </div>
                        <div class="col-auto" style="margin-right: auto;padding-left: 0px;align-self: center">
                          <span class="tabLow">FIRSATLAR</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="padding-bottom:5px;padding-top: 5px">
                    <img  style="width: 100%;padding: 15px" src="../../assets//svgs/genel_bakis/seperator-line.svg">
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="row" style="flex-wrap: nowrap">
                        <div class="col-auto" style="padding-right: 6px">
                          <img  style="height: 20px;    min-width: 25px;" src="../../assets/svgs/yorumlar_icon_new.svg">
                        </div>
                        <div class="col-auto" style="margin-right: auto;padding-left: 0px;align-self: center">
                          <span class="tabLow">YORUMLAR</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="padding-bottom:5px;padding-top: 5px">
                    <img  style="width: 100%;padding: 15px" src="../../assets/svgs/genel_bakis/seperator-line.svg">
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="row" style="flex-wrap: nowrap">
                        <div class="col-auto" style="padding-right: 6px">
                          <img style="height: 20px;    min-width: 25px;" src="../../assets/svgs/begeni_icon_new.svg">
                        </div>
                        <div class="col-auto" style="margin-right: auto;padding-left: 0px;align-self: center">
                          <span class="tabLow">KAZANILAN BEĞENİ</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="padding-bottom:5px;padding-top: 5px">
                    <img  style="width: 100%;padding: 15px" src="../../assets/svgs/genel_bakis/seperator-line.svg">
                  </div>
                  <div class="row" style="padding-bottom: 30px">
                    <div class="col">
                      <div class="row" style="flex-wrap: nowrap">
                        <div class="col-auto" style="padding-right: 6px">
                          <img style="height: 20px;    min-width: 25px;" src="../../assets/svgs/follower_icon_new.svg">
                        </div>
                        <div class="col-auto" style="margin-right: auto;padding-left: 0px;align-self: center">
                          <span class="tabLow">TAKİPÇİ SAYISI</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <app-deal id="firsatlarim" *ngIf="firsatlar.active == 'active'"></app-deal>
        <app-deal id="favs" *ngIf="kaydedilenler.active == 'active'"></app-deal>
        <app-general-view id="genel-bakis" *ngIf="genelBakis.active == 'active'"></app-general-view>
      </div>
    </div>
  </div>
</div>
