.tab{
  font-family: 'Mark Pro-Book';
  font-size: 15px;
  color:#234491;
}
.nopadding{
  padding: 0px;
}
/*div{
  border:1px solid black;
}*/
.my-profile{
  margin-right: 1%;
}
.point-table {
  font-family: 'Mark Pro-Light';
  font-size: 11px;
  color: #F7E60f;
  white-space: nowrap;
}
.point-table-point {
  font-family: 'Mark Pro-Light';
  font-size: 13px;
  color: #F7E60f;
  white-space: nowrap;
}
.user-name{
  font-family: 'Mark Pro-Heavy';
  font-size: 20px;
  color: #F7E60f;
}
.user-email{
  font-family: 'Mark Pro-Book';
  font-size: 13px;
  color: #F7E60f;
}

.form-element-span{
  font-family: 'Mark Pro-Book';
  color: #F7E60f;
  font-size: 10px;
  margin-bottom: 3%;
}
.form-element-text-input{
  border-bottom: 1px solid  #F7E60f;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #F7E60f;
  width: inherit;
  margin-bottom: 10%;
  background: none;
}
.tabLow{
  font-family: 'Mark Pro-Book';
  font-size: 10px;
  color:#F7E60f;
}
