.tab{
  font-family: 'Mark Pro-Book';
  font-size: 17px;
  color:#234491;
}
.nopadding{
  padding: 0px;
}
/*div{
  border:1px solid black;
}*/
.my-profile{
  height: 750px;
  background-color: white;
  border-radius: 40px;
  padding: 0px;
  margin-right: 1%;
}
.point-table{
  font-family: 'Mark Pro-Light';
  font-size: 13px;
  color: #F7E60f;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}
.avatar{
  width: 200px;
}
.change-photo{
  width: 50px;
  position: absolute;
  top:65%;

}
.photo-div{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.user-name{
  font-family: 'Mark Pro-Heavy';
  font-size: 28px;
  color: #234491;
}
.user-email{
  font-family: 'Mark Pro-Book';
  font-size: 20px;
  color: #234491;
}
.username-email{
  position: absolute;
  left: 50%;
  text-align: center;
  top: 40%;
  transform: translate(-50%);
}
.user-info{
  position: absolute;
  top: 54%;
  left: 5%;
}
.update-profile{
  position: absolute;
  top: 54%;
  left: 9%;
}

.form-element-span{
  font-family: 'Mark Pro-Book';
  color:#234491;
  font-size: 17px;
  margin-bottom: 3%;
}
.form-element-text-input{
  border-bottom: 1px solid #234491;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #234491;
  width: inherit;
  margin-bottom: 10%;
}
.are-you-sure{
  position: absolute;
  top: 75%;
  left: 35%;
  width: 60%;
}
