<!--suppress ALL -->







<form #f="ngForm">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <span style="font-family: 'Mark Pro-Heavy';font-size: 23px;color:#234491">YENİ FIRSAT EKLE</span>
            </div>
          </div>
          <div class="row">
            <div class="col" style="margin-left: 1%;border-radius: 30px;background-color: white;margin-top: 1%">
              <div class="row">
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/ilan_linki_icon.svg">
                    </div>
                    <div class="col nopadding">
                      <span #dealUrl [@highlight]="dealUrl.highlight" style="font-family: 'Mark Pro-Heavy';font-size: 14px;color:#234491">İLAN LİNKİ &nbsp;(FIRSAT ADRESİNİ BURAYA YAPIŞTIR)</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="height: 40px">
                      <input
                             ngModel name="dealUrlPreview" (input)="onUrlChangeWithGivenLink($event)" class="urlInput  cursor-pointer"
                             style="height: 40px;padding: 10px"
                             placeholder="http://alisverissitem.com/urun.aspx?kod=112">
                    </div>
                  </div>
                  <mat-progress-bar style="padding: 5px"
                    *ngIf="showProgressBar"
                    mode="indeterminate"></mat-progress-bar>
                  <div class="row align-items-center">
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/ilan_detaylari_icon.svg">
                    </div>
                    <div class="col nopadding">
                      <span style="font-family: 'Mark Pro-Heavy';font-size: 14px;color:#234491" #dealImageContainer [@highlight]="dealImageContainer.highlight">İLAN DETAYLARI &nbsp;(GÖRSEL SEÇ)</span>
                    </div>
                  </div>
                  <div #allImages class="row scroll align-items-center" style="flex-wrap: nowrap;padding:20px 2% 0 2%;border-radius: 15px;overflow-x: scroll;overflow-y: hidden">
                    <div class="col-3" *ngFor="let dealImage of images"
                         style="display: flex;margin-bottom: 10px;align-items: center;min-width: 150px;height: 150px;max-height: 150px;margin-left: 5px;padding-left: 0;padding-right: 0">
                      <img class="cursor-pointer" [@selectMe]="element.select" #element (click)="selectMe(element)" src="{{dealImage}}"
                           style="max-height:150px;max-width: 150px;border-radius: 15px;margin: auto">
                    </div>
                  </div>
                  <div class="row align-items-center" style="flex-wrap: nowrap">
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/firsat_tarihleri_icon.svg">
                    </div>
                    <div class="col-1" style="padding: 0;margin-right: 3%">
                      <span #dealDate [@highlight]="dealDate.highlight" class="dealDetailsSpans">TARİH</span>
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <input
                          style="border-radius: 15px"
                          ngModel name="dealDate"
                          matInput (dateInput)="addEvent('input', $event)"
                          (dateChange)="addEvent('change', $event)"
                          [matDatepicker]="picker" placeholder="Başlangıç Tarihi">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field>
                        <input matInput (dateInput)="addEvent('input', $event)"
                               (dateChange)="addEvent('change', $event)"
                               [matDatepicker]="picker2" placeholder="Bitiş Tarihi">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" style="margin-left: 1%;border-radius: 30px;background-color: white;margin-top: 1%;">
              <div class="row">
                <div class="col">
                  <div class="row align-items-center" style="flex-wrap: nowrap;padding: 0">
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/fiyat_icon.svg">
                    </div>
                    <div class="col-1" style="padding: 0">
                      <span #dealPrice [@highlight]="dealPrice.highlight" class="dealDetailsSpans">FİYAT ₺</span>
                    </div>
                    <div class="col-2 cursor-pointer">
                      <input  class="urlInput" ngModel name="dealPricePreview" (input)="onPriceChange($event)">
                    </div>
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/kupon_kodu_icon.svg">
                    </div>
                    <div class="col-2" style="padding: 0">
                      <span class="dealDetailsSpans">KUPON KODU</span>
                    </div>
                    <div class="col cursor-pointer">
                      <input ngModel name="coupon_code" class="urlInput">
                    </div>
                  </div>
                  <div class="row">
                    <!--<div class="col" style="line-height: 0.8">
                      <span style="font-family: 'Mark Pro-Book';font-size: 8px;color:#234491;white-space: nowrap">FIRSATIN KULLANABİLMESİ İÇİN KUPON KODU GEREKİYORSA;</span>
                    </div>-->
                  </div>
                  <div class="row align-items-center" style="flex-wrap: nowrap">
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/baslik_icon.svg">
                    </div>
                    <div class="col-1" style="padding: 0">
                      <span #dealTitle [@highlight]="dealTitle.highlight" class="dealDetailsSpans">BAŞLIK</span>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <input
                            [ngModel]="dealTitlePreview"
                            ngModel name="dealTitlePreview" (input)="onTitleChange($event)" class="urlInput cursor-pointer"
                                 placeholder="Alisverisitem.com'da spor ayakkabılarda %50 indirim!">
                        </div>
                      </div>
                      <!--<div class="row">
                        <div class="col text-center">
                          <span style="font-family: 'Mark Pro-Book';font-size: 8px;color:#234491;white-space: nowrap">FIRSATIN KULLANABİLMESİ İÇİN KUPON KODU GEREKİYORSA;</span>
                        </div>
                      </div>-->
                    </div>
                  </div>
                  <div class="row align-items-center" style="flex-wrap: nowrap">
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/detay_icon.svg">
                    </div>
                    <div class="col-1" style="padding: 0">
                      <span #dealDetail [@highlight]="dealDetail.highlight" class="dealDetailsSpans">DETAY</span>
                    </div>
                    <div class="col">
                      <textarea
                        class="urlInput cursor-pointer" style="min-height: 100px;padding: 10px 0 10px 0;resize:none"
                        (input)="onDetailChange($event)"
                        ngModel name="dealDetailPreview"
                        [ngModel]="dealDetailPreview"
                        placeholder="Ayakkabılar ayağıma cuk oturdu valla."></textarea>
                    </div>
                  </div>
                  <div class="row align-items-center" style="flex-wrap: nowrap">
                    <div class="col">
                      <span
                        style="font-family: 'Mark Pro-Book';font-size: 10px;color:#234491;white-space: nowrap;margin-left: 5%">
                        <p>LÜTFEN İLAN İLE İLGİLİ DETAYLARI ELİNİZDEN GELDİĞİNCE YAZIN
                          <br><b>ÖRNEĞİN;</b>
                        </p>
                        <ul>
                          <li>
                            BAŞKA YERLERDE GÖRDÜĞÜNÜZ FİYATLARI
                          </li>
                          <li>
                            ÜRÜNÜ KULLANIYORSANIZ MEMNUNİYETİNİZİ
                          </li>
                          <li>
                            ÜRÜNÜN TEKNİK BİLGİLERİ HAKKINDAKİ YORUMLARINIZI VB.
                          </li>
                        </ul>
                      </span>
                    </div>
                  </div>
                  <div class="row align-items-center" style="flex-wrap: nowrap">
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/kategori_icon.svg">
                    </div>
                    <div class="col-1" style="padding: 0;margin-right: 3%">
                      <span #lsd [@highlight]="lsd.highlight" class="dealDetailsSpans">KATEGORİ</span>
                    </div>
                    <div class="col">
                      <mat-form-field>
                        <mat-select placeholder="Kategori" [(value)]="selectedCategory">
                          <mat-option>Lütfen Seçiniz</mat-option>
                          <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-1 padding max-width">
                      <img src="assets/svgs/sehir_icon.svg">
                    </div>
                    <div class="col-1" style="padding: 0">
                      <span class="dealDetailsSpans">ŞEHİR</span>
                    </div>
                    <div class="col">
                      <mat-form-field>
                        <mat-select placeholder="Şehir" [(value)]="selectedCity">
                          <mat-option>Lütfen Seçiniz</mat-option>
                          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col" style="margin-top: 1%">
              <span style="font-family: 'Mark Pro-Heavy';font-size: 23px;color:#234491">FIRSAT ÖNİZLEMESİ</span>
            </div>
          </div>
          <div class="row" style="margin-bottom: 75px">
            <div class="col" style="margin-left: 1%">
              <div class="row"
                   style="max-height: 210px;min-height: 210px;border-radius: 30px;background-color: white;align-items: center;margin-top: 1%;flex-wrap: nowrap;">
                <div class="col-auto">
                  <img src="{{selectedImageSrc}}" style="max-width: 180px;min-width: 180px;border-radius: 15px">
                </div>
                <div class="col-9">
                  <div class="row title">
                    <span style="font-family: 'Mark Pro-Heavy';font-size: 20px;color:#234491">{{concatGivenString(dealTitlePreview,68)}}</span>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="row" style="align-items: center;flex-wrap: nowrap">
                        <div class="col" style="padding-left: 0;display: contents">
                          <img src="{{dealOwnerAvatar}}" style="max-width: 30px;min-width: 30px;border-radius: 50%">
                          <span style="padding: 10px;font-family: 'Mark Pro-Heavy';font-size: 14px;color:#234491;white-space: nowrap;">&nbsp;{{dealOwner.slice(0,15).concat('..')}}&nbsp;</span>
                          <span style="font-family: 'Mark Pro-Book';font-size: 14px;color:#234491;text-overflow: ellipsis;white-space: nowrap">| 0 görüntülenme |</span>
                          <span style="font-family: 'Mark Pro-Book';font-size: 14px;color:#234491;white-space: nowrap">&nbsp;{{currentDate.substr(0,10)}} |</span>
                          <span style="font-family: 'Mark Pro-Italic';font-size: 14px;color:#234491;">&nbsp;firsatsitesi.com</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="align-items: flex-end;padding-top: 1%;flex-wrap: nowrap">
                    <div class="col-auto">
                      <div class="row" style="align-items: center;flex-wrap: nowrap">
                        <div class="col nopadding max-width">
                          <img src="../../assets/svgs/price_tag.svg" style="min-width: 50px;max-width: 50px">
                        </div>
                        <div class="col-9 nopadding">
                          <span style="font-family: 'Mark Pro-Heavy';font-size: 20px;color: #234491;padding: 10px">{{dealPricePreview}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row" style="align-items: flex-end;flex-wrap: nowrap">
                        <div class="col-auto offset-2 nopadding">
                          <img src="../../assets/imgs/like_button@2x_22pt_mark_heavy.png" style="max-width: 75px;min-width: 75px;">
                        </div>
                        <div class="col nopadding">
                          <img src="../../assets/imgs/comment_button@2x.png" style="max-width: 75px;min-width: 75px;">
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="row" style="align-items: center;flex-wrap: nowrap">
                        <div class="col-auto" style="padding: 0">
                          <img  src="../../assets/imgs/FB-Icon@2x.png" style="max-width: 40px;min-width: 40px;">
                        </div>
                        <div class="col-auto cursor-pointer" style="padding: 0">
                          <img src="../../assets/imgs/TW-Icon@2x.png" style="max-width: 30px;min-width: 40px;">
                        </div>
                        <div class="col cursor-pointer">
                          <img  src="../../assets/imgs/firsata_git_button@2x.png" style="max-width: 160px;min-width: 160px">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="padding-top: 1%">
                    <span style="font-family: 'Mark Pro-Medium';font-size: 14px;color:#234491">{{concatGivenString(dealDetailPreview,200)}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto mx-auto align-self-center cursor-pointer clearButton" style="max-width: 210px;min-width: 210px;">
              <button [disabled]="createButtonActivated" class=" align-self-center cursor-pointer clearButton" (click)="onSubmit(f,dealUrl,dealDetail,dealPrice,dealDate,dealTitle,dealImageContainer,lsd)">
                <div id="createDealAnim" (mouseenter)="playAnim()" (mouseleave)="stopAnim()"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

