/*div{
  border:1px solid black;
}*/

/*.col{
  border:1px solid blue;
}
.row{
  border:1px solid red;
}*/
.lastItemMargin{
  margin-bottom: 6% !important;
}

.title span:hover {
  text-decoration: underline;
  cursor:pointer;
}
.likeComment-span{
  font-family: 'Mark Pro-Heavy';
  font-size: 10px;
  color: #234491;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(140%, -60%);
}


