<!--<ng-adsense-->
            <!--[adClient]="'ca-pub-8354755629319310'"-->
            <!--[width]="320"-->
            <!--[height]="108">-->
<!--</ng-adsense>-->
<div class="row">
  <div class="col-8 offset-1" id="for-responsiveness">
    <div class="row" *ngIf="showResultText" style="margin-top: 50px">
      <div class="col">
        <span style="font-family: 'Mark Pro-Heavy';font-size: 40px;color:#234491">{{resultText}}</span>
      </div>
    </div>
    <div *ngFor="let deal of displayedDeals;let i = index" class="row"
         [ngClass]="{'lastItemMargin':isItLastItem(deal)}"
         @dealState
         (@dealState.done)="onDealAnimated($event,i,likeContainer,commentContainer)"
         style=";border-radius: 30px;background-color: white;padding-top: 1%;padding-bottom: 1%;align-items: center;justify-content: center;margin-bottom: 2%">
      <div class="col-auto mx-auto" style="text-align: center;align-self: center;margin-top: 25px;margin-bottom: 25px">
        <img src="{{deal.image_url}}" style="max-width: 180px;min-width: 180px;">
      </div>
      <div class="col" style="padding: 0px 30px 0px 30px;">
        <div class="row title dealTitleAndUserRow">
          <div class="col">
            <span (click)="goToDeal(deal.id)" style="font-family: 'Mark Pro-Heavy';font-size: 20px;color:#234491;white-space: nowrap">{{deal.title.slice(0,200).concat('..')}}</span>
          </div>
        </div>
        <div class="row dealTitleAndUserRow" style="padding-top: 1%">
          <div class="col">
            <span style="font-family: 'Mark Pro-Medium';font-size: 14px;color:#234491;line-height: 1.2;">{{deal.details.slice(0,304).concat('..')}}</span>
          </div>
        </div>
        <div class="row" style="padding-top: 1%;flex-wrap: nowrap">
          <div class="col-auto" style="margin-right: auto">
            <div class="row" style="align-items: center;flex-wrap: nowrap">
              <div class="col" style="padding-right: 0px">
                <img src="../../assets/svgs/price_tag.svg" style="min-width: 50px;max-width: 50px">
              </div>
              <div class="col-9" style="padding-left: 0px">
                <span style="font-family: 'Mark Pro-Heavy';font-size: 25px;color: #234491;padding: 0 0 0 8px">{{whatIsPrice(deal)}}</span>
              </div>
            </div>
          </div>
          <div class="col-auto" style="padding-left: 0px;">
            <div class="row" style="align-items: center">
              <div class="col" style="padding-right: 0px">
                <div style="max-height: 50px;max-width: 50px;min-width: 50px;" #likeContainer class="lottieLikeButton" (click)="playAnim(i,'like',deal)"></div>
              </div>
              <div class="col-auto" style="padding-left: 0px;">
                <span style="font-family: 'Mark Pro-Heavy';font-size: 16px;color: #234491;padding: 0px 0px 0px 2px">{{deal.votes_sum}}</span>
              </div>
            </div>
          </div>
          <div class="col-auto mx-auto" style="padding-left: 0px;">
            <div class="row" style="align-items: center">
              <div class="col" style="padding-right: 0px">
                <div style="max-height: 50px;min-width: 50px;max-width: 50px" #commentContainer class="lottieCommentButton" (mouseenter)="playAnim(i,'comment')" (mouseleave)="stopAnim(i)"></div>
              </div>
              <div class="col-auto nopadding">
                <span style="font-family: 'Mark Pro-Heavy';font-size: 16px;color: #234491;padding: 0px 10px 0px 2px">{{deal.comments_count}}</span>
              </div>
            </div>
          </div>
          <div class="col-2 col-to-1"></div>
          <div class="col-auto nopadding cursor-pointer" style="    align-self: center">
            <img (click)="shareDeal(deal,'fb')" src="../../assets/imgs/FB-Icon@2x.png" style="max-width: 30px;min-width: 30px;transform: translate(15px)">
          </div>
          <div class="col-auto  nopadding cursor-pointer" style="align-self: center;margin-left: 15px;transform: translate(15px)" (click)="shareDeal(deal,'tw')">
            <img src="../../assets/imgs/TW-Icon@2x.png" style="max-width: 30px;min-width: 30px;">
          </div>
          <div class="col-auto cursor-pointer"   style="margin-left: 15px">
            <img (click)="goToLink(deal.link)" src="../../assets/imgs/firsata_git_button@2x.png" style="max-width: 160px;min-width: 160px">
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-auto footer-col">
            <div class="row" style="align-items: center;flex-wrap: nowrap">
              <div class="col-auto" style="padding-right: 0px">
                <img src="{{deal.user.avatar_url}}" style="max-width: 30px;min-width: 30px;border-radius: 50%">
              </div>
              <div class="col-auto" style="padding-left: 0px;padding-right: 0px">
                <span style="padding: 10px;font-family: 'Mark Pro-Heavy';font-size: 14px;color:#234491;white-space: nowrap;">&nbsp;{{deal.user.name.slice(0,50)}}&nbsp;</span>
              </div>
              <div class="col-auto" style="padding-left: 0px;padding-right: 0px">
                <span style="font-family: 'Mark Pro-Book';font-size: 14px;color:#234491;text-overflow: ellipsis;white-space: nowrap">| {{deal.view_count}} görüntülenme |</span>
              </div>
              <div class="col-auto" style="padding-left: 0px;padding-right: 0px">
                <span style="font-family: 'Mark Pro-Book';font-size: 14px;color:#234491;white-space: nowrap">&nbsp;{{deal.created_at.substr(0,10)}} |</span>
              </div>
              <div class="col-auto" style="padding-left: 0px">
                <span style="font-family: 'Mark Pro-Italic';font-size: 14px;color:#234491;">&nbsp;{{deal.vendor.website}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showPointTable" class="col-2" style="position: fixed;right: 7%;padding-right: 0px">
    <app-point-table></app-point-table>
  </div>
  <div class="col-1 nopadding"></div>

</div>


